/* firework */
.second-screen {
    margin: 0;
    padding: 0;
    overflow: hidden;
   }
  
   .second-screen .pyro > .before, .pyro > .after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }
  
    .second-screen .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s; }
  
  @-webkit-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-moz-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-o-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-ms-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  
  /* first screen particle*/
  
  .particle {
  position: absolute;
   border-radius: 50%;
  }
  
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(80vw, 10vh, 95px);
   }
  }
  .particle:nth-child(1) {
    animation: particle-animation-1 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.69;
    animation-delay: -0.2s;
    background: #bf4086;
    transform: translate3d(49vw, 52vh, 76px);
  }
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(5vw, 36vh, 100px);
   }
  }
  .particle:nth-child(2) {
    animation: particle-animation-2 60s infinite;
    height: 20px;
    width: 20px;
    opacity: 0.65;
    animation-delay: -0.4s;
    background: #bf409d;
    transform: translate3d(23vw, 66vh, 83px);
  }
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(75vw, 55vh, 95px);
   }
  }
  .particle:nth-child(3) {
    animation: particle-animation-3 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 0.59;
    animation-delay: -0.6s;
    background: #86bf40;
    transform: translate3d(68vw, 47vh, 27px);
  }
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(87vw, 33vh, 9px);
   }
  }
  .particle:nth-child(4) {
    animation: particle-animation-4 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.99;
    animation-delay: -0.8s;
    background: #bf4084;
    transform: translate3d(49vw, 33vh, 5px);
  }
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(33vw, 1vh, 92px);
   }
  }
  .particle:nth-child(5) {
    animation: particle-animation-5 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.35;
    animation-delay: -1s;
    background: #6abf40;
    transform: translate3d(21vw, 8vh, 82px);
  }
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(33vw, 63vh, 61px);
   }
  }
  .particle:nth-child(6) {
    animation: particle-animation-6 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.72;
    animation-delay: -1.2s;
    background: #40acbf;
    transform: translate3d(48vw, 47vh, 48px);
  }
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(87vw, 16vh, 8px);
   }
  }
  .particle:nth-child(7) {
    animation: particle-animation-7 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 0.88;
    animation-delay: -1.4s;
    background: #bfac40;
    transform: translate3d(47vw, 1vh, 76px);
  }
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(17vw, 76vh, 91px);
   }
  }
  .particle:nth-child(8) {
    animation: particle-animation-8 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.11;
    animation-delay: -1.6s;
    background: #bf7b40;
    transform: translate3d(41vw, 4vh, 66px);
  }
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(85vw, 26vh, 90px);
   }
  }
  .particle:nth-child(9) {
    animation: particle-animation-9 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.33;
    animation-delay: -1.8s;
    background: #bf4048;
    transform: translate3d(78vw, 14vh, 59px);
  }
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(24vw, 58vh, 11px);
   }
  }
  .particle:nth-child(10) {
    animation: particle-animation-10 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.2;
    animation-delay: -2s;
    background: #bf4079;
    transform: translate3d(32vw, 38vh, 79px);
  }
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(81vw, 63vh, 95px);
   }
  }
  .particle:nth-child(11) {
    animation: particle-animation-11 60s infinite;
    height: 18px;
    width: 18px;
    opacity: 0.22;
    animation-delay: -2.2s;
    background: #bf5740;
    transform: translate3d(20vw, 20vh, 25px);
  }
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(52vw, 70vh, 76px);
   }
  }
  .particle:nth-child(12) {
    animation: particle-animation-12 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.29;
    animation-delay: -2.4s;
    background: #4088bf;
    transform: translate3d(23vw, 75vh, 4px);
  }
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(61vw, 77vh, 96px);
   }
  }
  .particle:nth-child(13) {
    animation: particle-animation-13 60s infinite;
    height: 20px;
    width: 20px;
    opacity: 0.43;
    animation-delay: -2.6s;
    background: #bf4059;
    transform: translate3d(59vw, 69vh, 77px);
  }
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(42vw, 59vh, 67px);
   }
  }
  .particle:nth-child(14) {
    animation: particle-animation-14 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.38;
    animation-delay: -2.8s;
    background: #bf405e;
    transform: translate3d(62vw, 51vh, 1px);
  }
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(13vw, 87vh, 82px);
   }
  }
  .particle:nth-child(15) {
    animation: particle-animation-15 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 0.7;
    animation-delay: -3s;
    background: #40bfb3;
    transform: translate3d(19vw, 16vh, 15px);
  }
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(70vw, 11vh, 59px);
   }
  }
  .particle:nth-child(16) {
    animation: particle-animation-16 60s infinite;
    height: 18px;
    width: 18px;
    opacity: 0.6;
    animation-delay: -3.2s;
    background: #bf5b40;
    transform: translate3d(75vw, 46vh, 60px);
  }
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(37vw, 49vh, 25px);
   }
  }
  .particle:nth-child(17) {
    animation: particle-animation-17 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 0.44;
    animation-delay: -3.4s;
    background: #88bf40;
    transform: translate3d(22vw, 54vh, 97px);
  }
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(55vw, 27vh, 72px);
   }
  }
  .particle:nth-child(18) {
    animation: particle-animation-18 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 0.1;
    animation-delay: -3.6s;
    background: #bf9f40;
    transform: translate3d(53vw, 62vh, 36px);
  }
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(37vw, 48vh, 12px);
   }
  }
  .particle:nth-child(19) {
    animation: particle-animation-19 60s infinite;
    height: 20px;
    width: 20px;
    opacity: 0.17;
    animation-delay: -3.8s;
    background: #40bfbb;
    transform: translate3d(25vw, 38vh, 91px);
  }
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(87vw, 78vh, 46px);
   }
  }
  .particle:nth-child(20) {
    animation: particle-animation-20 60s infinite;
    height: 18px;
    width: 18px;
    opacity: 0.31;
    animation-delay: -4s;
    background: #bf8c40;
    transform: translate3d(15vw, 89vh, 79px);
  }
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(39vw, 70vh, 26px);
   }
  }
  .particle:nth-child(21) {
    animation: particle-animation-21 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.74;
    animation-delay: -4.2s;
    background: #40bf9b;
    transform: translate3d(3vw, 42vh, 40px);
  }
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(42vw, 25vh, 90px);
   }
  }
  .particle:nth-child(22) {
    animation: particle-animation-22 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 0.6;
    animation-delay: -4.4s;
    background: #40bfaa;
    transform: translate3d(81vw, 38vh, 61px);
  }
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(45vw, 23vh, 95px);
   }
  }
  .particle:nth-child(23) {
    animation: particle-animation-23 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 1;
    animation-delay: -4.6s;
    background: #bf4840;
    transform: translate3d(89vw, 17vh, 45px);
  }
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(11vw, 61vh, 18px);
   }
  }
  .particle:nth-child(24) {
    animation: particle-animation-24 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 0.27;
    animation-delay: -4.8s;
    background: #bf9940;
    transform: translate3d(47vw, 82vh, 60px);
  }
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(66vw, 80vh, 14px);
   }
  }
  .particle:nth-child(25) {
    animation: particle-animation-25 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.46;
    animation-delay: -5s;
    background: #406abf;
    transform: translate3d(36vw, 48vh, 55px);
  }
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(17vw, 67vh, 26px);
   }
  }
  .particle:nth-child(26) {
    animation: particle-animation-26 60s infinite;
    height: 18px;
    width: 18px;
    opacity: 0.95;
    animation-delay: -5.2s;
    background: #7d40bf;
    transform: translate3d(7vw, 9vh, 8px);
  }
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(66vw, 31vh, 100px);
   }
  }
  .particle:nth-child(27) {
    animation: particle-animation-27 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.77;
    animation-delay: -5.4s;
    background: #bf408c;
    transform: translate3d(27vw, 46vh, 58px);
  }
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(52vw, 47vh, 47px);
   }
  }
  .particle:nth-child(28) {
    animation: particle-animation-28 60s infinite;
    height: 18px;
    width: 18px;
    opacity: 0.96;
    animation-delay: -5.6s;
    background: #40bf9d;
    transform: translate3d(76vw, 45vh, 59px);
  }
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(3vw, 67vh, 40px);
   }
  }
  .particle:nth-child(29) {
    animation: particle-animation-29 60s infinite;
    height: 20px;
    width: 20px;
    opacity: 0.58;
    animation-delay: -5.8s;
    background: #a240bf;
    transform: translate3d(37vw, 2vh, 61px);
  }
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(9vw, 22vh, 39px);
   }
  }
  .particle:nth-child(30) {
    animation: particle-animation-30 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.01;
    animation-delay: -6s;
    background: #5740bf;
    transform: translate3d(18vw, 73vh, 80px);
  }
  @keyframes particle-animation-31 {
    100% {
      transform: translate3d(64vw, 52vh, 33px);
   }
  }
  .particle:nth-child(31) {
    animation: particle-animation-31 60s infinite;
    height: 20px;
    width: 20px;
    opacity: 0.92;
    animation-delay: -6.2s;
    background: #bf7b40;
    transform: translate3d(13vw, 46vh, 11px);
  }
  @keyframes particle-animation-32 {
    100% {
      transform: translate3d(45vw, 49vh, 9px);
   }
  }
  .particle:nth-child(32) {
    animation: particle-animation-32 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 0.62;
    animation-delay: -6.4s;
    background: #bf4080;
    transform: translate3d(88vw, 7vh, 68px);
  }
  @keyframes particle-animation-33 {
    100% {
      transform: translate3d(60vw, 49vh, 96px);
   }
  }
  .particle:nth-child(33) {
    animation: particle-animation-33 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.1;
    animation-delay: -6.6s;
    background: #bf409f;
    transform: translate3d(25vw, 83vh, 28px);
  }
  @keyframes particle-animation-34 {
    100% {
      transform: translate3d(54vw, 74vh, 63px);
   }
  }
  .particle:nth-child(34) {
    animation: particle-animation-34 60s infinite;
    height: 17px;
    width: 17px;
    opacity: 0.99;
    animation-delay: -6.8s;
    background: #40bfac;
    transform: translate3d(39vw, 42vh, 44px);
  }
  @keyframes particle-animation-35 {
    100% {
      transform: translate3d(77vw, 85vh, 61px);
   }
  }
  .particle:nth-child(35) {
    animation: particle-animation-35 60s infinite;
    height: 18px;
    width: 18px;
    opacity: 0.71;
    animation-delay: -7s;
    background: #4068bf;
    transform: translate3d(51vw, 13vh, 25px);
  }
  @keyframes particle-animation-36 {
    100% {
      transform: translate3d(16vw, 41vh, 56px);
   }
  }
  .particle:nth-child(36) {
    animation: particle-animation-36 60s infinite;
    height: 18px;
    width: 18px;
    opacity: 0.66;
    animation-delay: -7.2s;
    background: #5940bf;
    transform: translate3d(56vw, 44vh, 91px);
  }
  @keyframes particle-animation-37 {
    100% {
      transform: translate3d(65vw, 51vh, 71px);
   }
  }
  .particle:nth-child(37) {
    animation: particle-animation-37 60s infinite;
    height: 18px;
    width: 18px;
    opacity: 0.57;
    animation-delay: -7.4s;
    background: #bf6840;
    transform: translate3d(84vw, 15vh, 61px);
  }
  @keyframes particle-animation-38 {
    100% {
      transform: translate3d(37vw, 44vh, 20px);
   }
  }
  .particle:nth-child(38) {
    animation: particle-animation-38 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.33;
    animation-delay: -7.6s;
    background: #88bf40;
    transform: translate3d(69vw, 86vh, 34px);
  }
  @keyframes particle-animation-39 {
    100% {
      transform: translate3d(81vw, 26vh, 81px);
   }
  }
  .particle:nth-child(39) {
    animation: particle-animation-39 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.8;
    animation-delay: -7.8s;
    background: #406abf;
    transform: translate3d(50vw, 84vh, 50px);
  }
  @keyframes particle-animation-40 {
    100% {
      transform: translate3d(38vw, 50vh, 81px);
   }
  }
  .particle:nth-child(40) {
    animation: particle-animation-40 60s infinite;
    height: 18px;
    width: 18px;
    opacity: 0.04;
    animation-delay: -8s;
    background: #bbbf40;
    transform: translate3d(49vw, 54vh, 43px);
  }
  @keyframes particle-animation-41 {
    100% {
      transform: translate3d(3vw, 25vh, 89px);
   }
  }
  .particle:nth-child(41) {
    animation: particle-animation-41 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.75;
    animation-delay: -8.2s;
    background: #a640bf;
    transform: translate3d(75vw, 2vh, 2px);
  }
  @keyframes particle-animation-42 {
    100% {
      transform: translate3d(49vw, 76vh, 45px);
   }
  }
  .particle:nth-child(42) {
    animation: particle-animation-42 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.32;
    animation-delay: -8.4s;
    background: #bf4077;
    transform: translate3d(41vw, 11vh, 66px);
  }
  @keyframes particle-animation-43 {
    100% {
      transform: translate3d(54vw, 75vh, 83px);
   }
  }
  .particle:nth-child(43) {
    animation: particle-animation-43 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.75;
    animation-delay: -8.6s;
    background: #bf4055;
    transform: translate3d(38vw, 49vh, 82px);
  }
  @keyframes particle-animation-44 {
    100% {
      transform: translate3d(68vw, 4vh, 79px);
   }
  }
  .particle:nth-child(44) {
    animation: particle-animation-44 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.34;
    animation-delay: -8.8s;
    background: #40bf8a;
    transform: translate3d(59vw, 54vh, 44px);
  }
  @keyframes particle-animation-45 {
    100% {
      transform: translate3d(21vw, 9vh, 29px);
   }
  }
  .particle:nth-child(45) {
    animation: particle-animation-45 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.78;
    animation-delay: -9s;
    background: #a440bf;
    transform: translate3d(10vw, 72vh, 81px);
  }
  @keyframes particle-animation-46 {
    100% {
      transform: translate3d(81vw, 64vh, 57px);
   }
  }
  .particle:nth-child(46) {
    animation: particle-animation-46 60s infinite;
    height: 19px;
    width: 19px;
    opacity: 0.34;
    animation-delay: -9.2s;
    background: #bf9b40;
    transform: translate3d(69vw, 59vh, 91px);
  }
  @keyframes particle-animation-47 {
    100% {
      transform: translate3d(27vw, 41vh, 10px);
   }
  }
  .particle:nth-child(47) {
    animation: particle-animation-47 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.73;
    animation-delay: -9.4s;
    background: #40bf5b;
    transform: translate3d(78vw, 79vh, 8px);
  }
  @keyframes particle-animation-48 {
    100% {
      transform: translate3d(11vw, 52vh, 48px);
   }
  }
  .particle:nth-child(48) {
    animation: particle-animation-48 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.37;
    animation-delay: -9.6s;
    background: #86bf40;
    transform: translate3d(79vw, 11vh, 99px);
  }
  @keyframes particle-animation-49 {
    100% {
      transform: translate3d(28vw, 86vh, 64px);
   }
  }
  .particle:nth-child(49) {
    animation: particle-animation-49 60s infinite;
    height: 16px;
    width: 16px;
    opacity: 0.41;
    animation-delay: -9.8s;
    background: #bf9b40;
    transform: translate3d(46vw, 34vh, 55px);
  }
  @keyframes particle-animation-50 {
    100% {
      transform: translate3d(37vw, 73vh, 53px);
   }
  }
  .particle:nth-child(50) {
    animation: particle-animation-50 60s infinite;
    height: 20px;
    width: 20px;
    opacity: 0.83;
    animation-delay: -10s;
    background: #4077bf;
    transform: translate3d(2vw, 26vh, 32px);
  }
  